.header{
	background-color: #f15f43;
	color: white;
    min-height: 118px;
    margin-bottom:0px;
}
.dash_heading{
    margin-top: 20px;
   font-weight: bold;
   text-shadow: 1px 8px 5px #170f02;
}
.main_toggle {
    position: relative;
    float: right;
    padding: 9px 10px;
    margin-top: 8px;
    margin-right: 15px;
    margin-bottom: 67px;
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}
/*.list-group-item {
    position: relative;
    display: block;
    padding: 10px 15px;
    margin-bottom: -1px;
    background-color: #8a6d3b;
    border: 1px solid #ddd;
}*/




/*.navbar-brand {
    float: left;
    height: 110px;
    padding: 15px 15px;
    font-size: 18px;
    line-height: 20px;
}*/

.company_heading{
    color: white;
    margin-top: -30px;
}
.search_title{

	font-weight: 200px;
	font-size: 40px;
}
.cat{
    width: 272px;
}
.form-layout{
	margin-top: 50px;
}
.search_btn {
    display: inline-block;
    /*padding: 6px 12px;*/
    margin-bottom: 0;
    font-size: 22px;
margin-top: 10px;}
.form_search{
    height: 45px;
    font-size: 18px;
    width: 400px;
}
.fields_title{
    font-size: 35px;
    margin-top: 5px;
}

.form-control.skills_form {
    display: inline-block;
    width: 300px;
    vertical-align: middle;
}
.page_links{
	margin-top: 30px;
	font-size: 18px;

}
.page_toggle{
    margin-top: 59px;
    font-size: 18px;

}
.apply_btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 10px;}
.links_color{
     color: white;
}
.navbar-default .navbar-nav > li > a {
    color: #f5f5f5;
}{
    color: white;
}

.main{

	height: 200px;
	width: auto;
	background-color: #eaeceb;
}
.footer{
	height: 150px;
	width: auto;
	background-color: #f15f43;
	margin-top: 40px;
}
.developer{

	color: black;
}

.banner{

background-image: url(../images/white.jpg);
height: 500px;
width: auto;
}
.Search-Area{
	margin-top: 200px;
}
.sidebar{
	margin-top: 254px;
}

.container-page{
	padding:10px 0px;
}
.sidebarportion{
 margin-top: 20px;
/* line-height: 3;*/

}
.tab_portion{
 margin-top: 20px;
 line-height: 3;

}

.login{
    padding-top: 10px;
    border-width:4px;
     border-style:ridge;
     padding-bottom: 70px;
     background-color:transparent-#eee;
}
/**
 * 	User
 */

.user{
	
}

.user .avatar{
    width:25px;
    height:25px;
}

/*.avatar{
	height:100px; 
    width:100px;
    /*margin-left: 279px;*/
    /*border-radius: 50%;

  position: relative;
  overflow: hidden;
*/
}*/

.user .details{
	padding:5px 15px;
}
.details span{
	padding-top:50px;
}
.p_img{

	height: 100px;
	width: 300px;
	margin-left: 80px;
}


.card {
    padding-top: 20px;
    margin: 10px 0 20px 0;
    background-color: rgba(214, 224, 226, 0.2);
    border-top-width: 0;
    border-bottom-width: 2px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.card .card-heading {
    padding: 0 20px;
    margin: 0;
}

.card .card-heading.simple {
    font-size: 20px;
    font-weight: 300;
    color: #777;
    border-bottom: 1px solid #e5e5e5;
}

.card .card-heading.image img {
    display: inline-block;
    width: 46px;
    height: 46px;
    margin-right: 15px;
    vertical-align: top;
    border: 0;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.card .card-heading.image .card-heading-header {
    display: inline-block;
    vertical-align: top;
}

.card .card-heading.image .card-heading-header h3 {
    margin: 0;
    font-size: 14px;
    line-height: 16px;
    color: #262626;
}

.card .card-heading.image .card-heading-header span {
    font-size: 12px;
    color: #999999;
}

.card .card-body {
    padding: 0 20px;
    margin-top: 20px;
}

.card .card-media {
    padding: 0 20px;
    margin: 0 -14px;
}

.card .card-media img {
    max-width: 100%;
    max-height: 100%;
}

.card .card-actions {
    min-height: 30px;
    padding: 0 20px 20px 20px;
    margin: 20px 0 0 0;
}

.card .card-comments {
    padding: 20px;
    margin: 0;
    background-color: #f8f8f8;
}

.card .card-comments .comments-collapse-toggle {
    padding: 0;
    margin: 0 20px 12px 20px;
}

.card .card-comments .comments-collapse-toggle a,
.card .card-comments .comments-collapse-toggle span {
    padding-right: 5px;
    overflow: hidden;
    font-size: 12px;
    color: #999;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.card-comments .media-heading {
    font-size: 13px;
    font-weight: bold;
}

.card.people {
    position: relative;
    display: inline-block;
    width: 170px;
    height: 300px;
    padding-top: 0;
    margin-left: 20px;
    overflow: hidden;
    vertical-align: top;
}

.card.people:first-child {
    margin-left: 0;
}

.card.people .card-top {
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    width: 170px;
    height: 150px;
    background-color: #ffffff;
}

.card.people .card-top.green {
    background-color: #53a93f;
}

.card.people .card-top.blue {
    background-color: #427fed;
}

.card.people .card-info {
    position: absolute;
    top: 150px;
    display: inline-block;
    width: 100%;
    height: 101px;
    overflow: hidden;
    background: #ffffff;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.card.people .card-info .title {
    display: block;
    margin: 8px 14px 0 14px;
    overflow: hidden;
    font-size: 16px;
    font-weight: bold;
    line-height: 18px;
    color: #404040;
}

.card.people .card-info .desc {
    display: block;
    margin: 8px 14px 0 14px;
    overflow: hidden;
    font-size: 12px;
    line-height: 16px;
    color: #737373;
    padding-bottom: 10px;
    text-overflow: ellipsis;
}

.card.people .card-bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    display: inline-block;
    width: 100%;
    padding: 10px 20px;
    line-height: 29px;
    text-align: center;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.card.hovercard {
    position: relative;
    padding-top: 0;
    overflow: hidden;
    text-align: center;
    background-color: rgba(214, 224, 226, 0.2);
    padding-bottom: 40px;
}

.card.hovercard .cardheader {
    background: url(../images/locator.jpg);
    /*background-color: #00c0ef;*/
    background-size: cover;
    height: 135px;
  background-position: center center;
           
    
    
}


.card.hovercard .avatar {
    position: relative;
    top: -50px;
    margin-bottom: -50px;
}

.card.hovercard .avatar img {
    width: 300px;
    height: 300px;
    max-width: 100px;
    max-height: 100px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: 5px solid rgba(255,255,255,0.5);
}


.about{
    margin-top: 20px;
  margin-left: 20%;
text-align:left;
     line-height: 1.428571;
}
.seeker_about{
    margin-top: 20px;
  margin-left: 20%;
text-align:left;
     line-height: 1.428571;
}
.card.hovercard .bottom {
    padding: 0 20px;
    margin-bottom: 17px;
}

.contact {
    margin-top: 100px;
    text-decoration: none;
}
.info {
    margin-top: 40px;
    margin-bottom: 40px;
}
.login-heading{
    margin-left: 30px;
    font-size: 18px;

}

.post_botton{
width: 70px;
}

.dasboard_area{
    background-color:#f15f43;

    margin-top: 10px;
    color: white;
     /*background-color: #f15f43*/
}
.download_cv{
    margin-top: 26px;
}
.cv_container{
    margin-bottom: 60px;
}

.user_about {
    margin-top: 20px;
    text-align: left;
    line-height: 2.428571;
}
.apply_btn{
    
    padding-top: 1px;
    padding-bottom: 2px;
    font-size: 14px;

}
.company{
    width: 60px;
    height: 60px;
}
.company_txt {
    margin-left: 30px;
    margin-top: 5px;
}
.sidebar_style{
/*background-color: #f7f9f9;*/
line-height: 3;

}


/*post area coding*/
.blogShort{ border-bottom:1px solid #ddd;}
.add{background: #333; padding: 10%; height: 300px;}
/*.blogShort article p {
    margin: 10px 121px 10px;
}
.blogShort em{
    margin: 0px 24px 10px;
}
.blogShort b{
     margin: 0px 24px 10px;
}*/
=
.nav-sidebar { 
    width: 100%;
    padding: 8px 0; 
    border-right: 1px solid #ddd;
}
.nav-sidebar a {
    color: #333;
    -webkit-transition: all 0.08s linear;
    -moz-transition: all 0.08s linear;
    -o-transition: all 0.08s linear;
    transition: all 0.08s linear;
}
.nav-sidebar .active a { 
    cursor: default;
    background-color: #34ca78; 
    color: #fff; 
}
.nav-sidebar .active a:hover {
    background-color: #37D980;   
}
.nav-sidebar .text-overflow a,
.nav-sidebar .text-overflow .media-body {
    white-space: nowrap;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis; 
}

.btn-blog {
    color: #ffffff;
    background-color: #37d980;
    border-color: #37d980;
    border-radius:0;
    margin-bottom:10px
}
.btn-blog:hover,
.btn-blog:focus,
.btn-blog:active,
.btn-blog.active,
.open .dropdown-toggle.btn-blog {
    color: white;
    background-color:#34ca78;
    border-color: #34ca78;
}

 .margin10{margin-bottom:10px; margin-right:10px;}



  /*post area coding ends here*/


  /*item slider*/
  /* carousel */
.media-carousel 
{
  margin-bottom: 0;
  padding: 0 40px 30px 40px;
  margin-top: 30px;
}
/* Previous button  */
.media-carousel .carousel-control.left 
{
  left: -12px;
  background-image: none;
  background: none repeat scroll 0 0 #222222;
  border: 4px solid #FFFFFF;
  border-radius: 23px 23px 23px 23px;
  height: 40px;
  width : 40px;
  margin-top: 30px
}
/* Next button  */
.media-carousel .carousel-control.right 
{
  right: -12px !important;
  background-image: none;
  background: none repeat scroll 0 0 #222222;
  border: 4px solid #FFFFFF;
  border-radius: 23px 23px 23px 23px;
  height: 40px;
  width : 40px;
  margin-top: 30px
}
/* Changes the position of the indicators */
.media-carousel .carousel-indicators 
{
  right: 50%;
  top: auto;
  bottom: 0px;
  margin-right: -19px;
}
/* Changes the colour of the indicators */
.media-carousel .carousel-indicators li 
{
  background: #c0c0c0;
}
.media-carousel .carousel-indicators .active 
{
  background: #333333;
}
.media-carousel img
{
  width: auto;
  height: 100px;
}
/* End carousel */


.panel-default>.panel-heading {
    color: #333;
    min-height: 893px;
    background-color: transparent;
    /*border-color: transparent;*/
}
.panel-heading {
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    background-color: rgb(238, 238, 238);
/*color: white;*/
text-align:center;}

.latest_posts{
      padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    background-color: rgb(238, 238, 238);
   /*color: white;*/
  text-align:center;
      font-size: 20px;
    font-family: cursive;
    font-size: x-large;
}
.latest_heading{
     font-size: 20px;
    font-family: cursive;
    font-size: x-large;
}
.jb {
    margin-top: -153px;
    padding-bottom: 42px;
}
.des{
        margin: 0 0 10px;
    display: inline;
}

.side_pic{
    height: 70px;
    width: 70px;
    line-height: 2px;
}